
#menu {
  background: red;
  height: 100%;
  position: absolute;
  top: 0;
  width: 230px;
}

.menu-list {
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 55px;
}

.menu-list-item a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  #menu,
  .menu-list {
    position: static;
  }

  .menu-list {
    max-height: 100px;
  }
}

#header {
  background: #ccc;
  height: 30px;
  left: 230px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  #header {
    left: 0;
    position: static;
  }
}

#logo {
  background: black;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
@media screen and (max-width: 767px) {
  #logo {
    position: static;
  }
}

#content {
  bottom: 0;
  left: 230px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 30px;
}
@media screen and (max-width: 767px) {
  #content {
    left: 0;
    position: static;
  }
}

.menu-header {
  font-size: 20px;
  font-weight: bold;
}

.beta {
  position: absolute;
  right: 130px;
  top: 0;
}

