
/* MENU */
#menu {
  background: red;
  height: 100%;
  position: absolute;
  top: 0;
  width: 230px;
}

.menu-header {
  font-size: 20px;
  font-weight: bold;
}

.menu-list {
  bottom: 0;
  left: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  right: 0;
  top: 55px;
}

.menu-list-item {
  list-style: none;
}
.menu-list-item a {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  font-size: 13px;
  padding: 3px 10px;
  text-decoration: none;
}
.menu-list-item a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  #menu,
  .menu-list {
    position: static;
  }

  #menu {
    width: auto;
  }


  .menu-list-item {
    display: inline-block;
    width: 80px;
  }
  .menu-list-item a {
    border-top: 0;
  }
}


/* HEADER */
#header {
  background: #ccc;
  height: 30px;
  left: 230px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  #header {
    left: 0;
    position: static;
  }
}


/* LOGO */
#logo {
  background: black;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
@media screen and (max-width: 767px) {
  #logo {
    position: static;
  }
}

/* CONTENT */
#content {
  bottom: 0;
  left: 230px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 30px;
}
#content.with-button-bar {
  bottom: 25px;
}

@media screen and (max-width: 767px) {
  #content {
    left: 0;
    position: static;
  }
}


/* BETA */
.beta {
  position: absolute;
  right: 130px;
  top: 0;
}
@media screen and (max-width: 767px) {
  .beta {
    right: 10px;
  }
}


/* BUTTON BAR */
.btn-large-button {
  background: #ccc;
  bottom: 0;
  height: 25px;
  left: 230px;
  position: fixed;
  right: 0;
}
@media screen and (max-width: 767px) {
  .btn-large-button {
    left: 0;
    position: static;
  }
}
